{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}


{% block body %}
<section class="container my-1">
    <div class="row">
        <div class="col">
            
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
            
                {% if app.user %}
                    <div class="mb-3">
                        You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                {% endif %}
            
                <h2 class="h3 mb-3 font-weight-normal" style="text-align:center; border-bottom: solid 2px; margin-top: 5%;">CONNEXION</h2>
                
                <div class="card" style="width:50%; margin-top:24px; padding:13px; margin-left:25%; box-shadow: 0px 0px 5px rgb(0 0 0 / 30%); margin-bottom:18px;">
                <label for="inputUsername" style="margin-top:12px ;">Nom</label>
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
                <label for="inputEmail">E-Mail</label>
                <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="current-email" required>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
            
                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >
            
                <button class="btn btn-lg btn-primary my-3" type="submit">
                    Se connecter
                </button>
                <span>Nouveau client?</span> <a href="{{ path('app_register') }}"><span class="material-symbols-outlined" style="color: rgb(211, 159, 15);">
                    person_add
                    </span></a>
                </div>    
            </form>
            
        </div>
    </div>
</section>
{% endblock %}
