{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
<section class= "container my-1">
    <div class="row">
        <div class="col">
            <h2 style="text-align:center; border-bottom:solid 1px; margin-top:6%;">INSCRIPTION</h2>

            <div class="card" style="width:50%; margin-top:24px; padding:13px; margin-left:25%; box-shadow: 0px 0px 5px rgb(0 0 0 / 30%); margin-bottom:18px;">
            {% form_theme registrationForm 'bootstrap_4_layout.html.twig' %}
            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.plainPassword.first) }}
                {{ form_row(registrationForm.plainPassword.second) }}
                {{ form_row(registrationForm.picture) }}
                {{ form_row(registrationForm.agreeTerms) }}
        
                <button type="submit" class="btn btn-lg btn-primary my-3">S'inscrire</button>
                <p>Déjà un compte ?</p><a href="{{ path('app_login') }}"><span class="material-symbols-outlined" style="color: rgb(211, 159, 15);">
                    person
                    </span></a>
            {{ form_end(registrationForm) }}
            
            </div>
        </div>
    </div>
</section>
{% endblock %}
