{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
ACCUEIL
{% endblock %}


{% block body %}
<div class="container-fluid" style=" width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden; background-color:white;">
    <div class="photo">
    <img src= "{{ asset('image/3284-756-manga.jpg') }}" alt="" style="width:100%; margin-top:4%; height:719px;" > 
    </div>
        <section class="container my-1">
        <div class="row">
            <h5 style="text-align:center; margin-top:2%; border-bottom: 2px solid;">DECOUVRE NOTRE BLOG MANGA</h5>
            <div class="col" style="display: flex; flex-direction:row;">
        
        {% for article in articles %}
    <div class="card" style="width:30%; height: 60%; box-shadow: 0 0 10px; border: radius 0.25rem; margin: 20px; margin-top: 3%;">
      <img class="card-img-top" src="{{ asset("image/" ~ article.image) }}" style="height:25%;">
        <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <h6 class="card-sous-title">{{article.nanemanga}}</h6>
            <p class="card-text" style="max-height:53px; overflow-y:hidden; text-overflow:ellipsis;">{{article.content}}<span>...</span></p>
            <span> écrit le {{article.createdAT | date('d/m/Y  h:i:s')}} par {{article.author}} </span></br>
        <a href="{{ path('app_view', {'id' : article.id }) }}" class="btn btn-primary">Voir l'article entier</a>
        </div>
    </div>
    {% endfor %}
            </div>
        </div>
    </section>
</div>

{# --------------------------------------------------------------------------------------------------------------------------------------------------------------------- #}

{# <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="..." alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="..." alt="Third slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div> #}

{% endblock %}