/* nav, navbar navbar-expand-lg navbar-light bg-light  {
    background-color: black;
} */
.container-fluid {
    background-color: black;
}
.navtitle {
    color: white;
}
.navbar-light .navbar-brand {
    color: white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .nav-link.active{
    color: white;
}
.navbar-light .navbar-nav .nav-link.disabled {
    color: white
}
/* boby {
    background-color: aqua;
} */
 .cardtitle {
 color: black;
}
.nav-link {
    color: white;
}
.navbar-light .navbar-toggler-icon {
    background-color: white;
}
@media (min-width: 992px) {
    
    
}
.bg-dark text-center text-white{
    bottom: auto;
}
/* .photo {
    background-image: url('https://www.referenseo.com/wp-content/uploads/2019/03/image-attractive-960x540.jpg');
    background-repeat: no-repeat;
}  */