{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
Contact
{% endblock %}

{% block body %}
<section class="container my-1">
    <div class="row">
        <div class="col">
            <h2 class="h3 mb-3 font-weight-normal" style="text-align:center; border-bottom: solid 2px; margin-top: 5%;">CONTACT</h2>
            <div class="card" style="width:50%; margin-top:24px; padding:13px; margin-left:25%; box-shadow: 0px 0px 5px rgb(0 0 0 / 30%); margin-bottom:18px;">
                {% form_theme createForm 'bootstrap_4_layout.html.twig' %}
                 {{form(createForm)}}
            </div>
        </div>
    </div>
</secteur>



{% endblock %}
