<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>"
    />
    {# Run `composer require symfony/webpack-encore-bundle` to start using
    Symfony UX #} {# Feuilles de styles #} {% block stylesheets %}
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />

   
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="height:57px; position:fixed; top:0px; width:100%; z-index:1;">
      <div class="container-fluid" style="height:125px;">
        <h1 class="navtitle"style="margin-top:revert;">BLOG MANGA</h1>
        {# <a class="navbar-brand" href="#">Navbar</a> #}
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="margin-top:revert; margin-left:auto;">
            {% if app.user %}
            <span style="color:rgb(211, 159, 15); position: relative; text-align: center; left: 130%;">
              {# <img style="width: 50px;" src="{{ asset("utisateur/" ~ app.user.picture)}}" alt="{{app.user}}"> #}
              Bienvenue </br> {{app.user}}

            </span>
            <li class="nav-item" style="text-align:center;">
              <a class="nav-link" href="{{ path('main') }}"
                >ACCUEIL</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_article') }}">BLOG</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_logout') }}">DECONNEXION</a>
            </li>
            <img src="" alt="">
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="{{ path('main') }}"
                >ACCUEIL</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_article') }}">BLOG</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_contact') }}">CONTACT</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ path('app_login') }}">CONNEXION</a>
            </li>
            {% endif %}
          </ul>
          <form class="d-flex" style="margin-top:auto;">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Recherche"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Recherche
            </button>
          </form>
        </div>
      </div>
    </nav>
  </body>
    {% block body %} 


    {% endblock %}
    <footer class=" text-center text-white" style="background-color:black;">
      <!-- Grid container -->
      <div class="container p-4">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-facebook-f"></i
          ></a>
    
          <!-- Twitter -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-twitter"></i
          ></a>
    
          <!-- Google -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-google"></i
          ></a>
    
          <!-- Instagram -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-instagram"></i
          ></a>
    
          <!-- Linkedin -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a>
    
          <!-- Github -->
          <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
            ><i class="fab fa-github"></i
          ></a>
        </section>
        <!-- Section: Social media -->
    
        <!-- Section: Form -->
        <section class="">
          <form action="">
            <!--Grid row-->
            <div class="row d-flex justify-content-center">
             
            </div>
            <!--Grid row-->
          </form>
        </section>
        <!-- Section: Form -->
    
      
        <!-- Section: Text -->
    
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    <script src='javascript/style.js'></script>
    <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
    ></script>
    {% block javascripts %}{% endblock %}
  <!-- Footer -->
  
</html>
