{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
Articles
{% endblock %}

{% block body %}
<section class="container my-1">
    <div class="row">
        <h3 style=" border-bottom: 1px solid; margin:auto; text-align:center; margin-top:5%">BLOG MANGA</h3>
        <div class="col" style="display: flex; flex-direction:row; ">
    {% for article in articles %}
    
    <div class="card" style="width:30%; height: 60%; box-shadow: 0 0 10px; border: radius 0.25rem; margin: 20px; margin-top: 3%;">
        <img class="card-img-top"  src="{{ asset("image/" ~ article.image) }}" style="height:25%;">
        <div class="card-body">
            <h5 class="card-title">{{article.title}}</h5>
            <h6 class="card-sous-title">{{article.nanemanga}}</h6>
            <p class="card-text" style="max-height:53px; overflow-y:hidden; text-overflow:ellipsis;">{{article.content}}<span>...</span></p>
            <span> écrit le {{article.createdAT | date('d/m/Y  h:i:s')}} par {{article.author}} </span></br>
        <a href="{{ path('app_view', {'id' : article.id }) }}" class="btn btn-primary">Voir l'article entier</a>
        </div>
    </div>
    {% endfor %}
    </div>
        </div>
</section>


{% endblock %}
