{% extends 'base.html.twig' %}

{% block title %}
{{parent()}}
{{article.title}}
{% endblock %}

{% block body %}

<section class="container my-1">
    <div class="row">
        <h3 style=" border-bottom: 1px solid; margin:auto; text-align:center; margin-top:5%">{{article.title}}</h3>
        <div class="col">
            <h6 class="card-sous-title">{{article.nanemanga}}</h6>
            <img class="card-img-top"  src="{{ asset("image/" ~ article.image) }}" style="height:25%;">
            <p class="card-text" style="max-height:53px; overflow-y:hidden; text-overflow:ellipsis;">{{article.content}}</p>
            <span> écrit le {{article.createdAT | date('d/m/Y  h:i:s')}} par {{article.author}} </span></br>
            <a href="{{ path('app_article') }}" class="btn btn-primary">Retour</a>
        </div>
        <div class="grix xs2 sm3 gutter-0 card">
            <div class="col-xs2 col-sm3">
                <h2>LISTE DES COMMENTAIRES</h2>
            </div>
            <div class="col-xs2 col-sm3">
                <h2>AJOUTER UN COMMENTAIRE</h2>
                {{ form(commentForm) }}
            </div>
        </div>
    </div>
   
</section>


{% endblock %}